@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Page HTML */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Titre */

h1 {
    text-align: center;
    padding: 2rem;
}

/* Responsive Titre */

@media screen and (max-width: 1024px) {
    h1 {
        padding: 0rem;
    }
}

/* Barre de vie */

#progress-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 10px;
}

#health-bar{
    appearance: none;
    height: 15px;
    width: 50%;
}

progress::-webkit-progress-bar{
    background-color: gray;
    border-radius: 10px;
}

progress::-webkit-progress-value{
    background-color: #00ff00;
    border-radius: 10px;
}

.progress-dark-red::-webkit-progress-value{
    background-color: #aa0000;
}

.progress-red::-webkit-progress-value{
    background-color: #ff0000;
}

.progress-dark-orange::-webkit-progress-value{
    background-color: #ff5500;
}

.progress-orange::-webkit-progress-value{
    background-color: #ffaa00;
}

.progress-yellow::-webkit-progress-value{
    background-color: #ffff00;
}

.progress-light-green::-webkit-progress-value{
    background-color: #aaff00;
}

.progress-green::-webkit-progress-value{
    background-color: #00ff00;
}

/* Responsive Barre de vie */

@media screen and (max-width: 1024px) {
    #health-bar{
        width: 80%;
    }
}

/* Informations sur le monstre */

div.monster-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

div.monster {
    display: inline-block;
    box-sizing: border-box;
    height: 100px;
    margin: 10px;
}

#monster {
    border-radius: 5px;
    background-color: orange;
    border-width: 0px;
    border-style: solid;
    border-color: black;
    width: 100px;
}

#monster > p {
    text-align: center;
}

#actionbox {
    border: 1px solid grey;
    width: 500px;
    overflow: auto;
}

#actionbox > p {
    margin-left: 10px;
}

ul#status {
    display: flex;
    justify-content: center;
    gap: 5%;
    list-style: none;
}

ul#status li {
    font-size: x-large;
    padding: 10px;
}

/* Responsive Informations */

@media screen and (max-width: 1024px) {
    div.monster-container {
        gap: 0;
    }
}

/* Boutons */

div.action-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

button.action,
button.life-action,
button.kill-action {
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}

button.action {
    background-color: deepskyblue;
    box-shadow: 0 0.4rem dodgerblue;
}

button:active {
    box-shadow: 0 0.2rem dodgerblue;
    transform: translateY(0.2rem);
}

button.life-action {
    background-color: limegreen;
    box-shadow: 0 0.4rem green;
}

button.life-action:active {
    box-shadow: 0 0.2rem darkgreen;
    transform: translateY(0.2rem);
}

button.kill-action {
    background-color: red;
    box-shadow: 0 0.4rem darkred;
}

button.kill-action:active {
    box-shadow: 0 0.2rem darkred;
    transform: translateY(0.2rem);
}

/* Responsive Boutons */

@media screen and (max-width: 1024px) {
    div.action-button-container {
        gap: 20px;
    }
}